.left-rect {
  background: #793EF5;
  height: 100vh;
  width: 50%;
}

.right-rect {
background: #FFFFFF;
height: 100vh;
width: 50%;
}

.logo {
  width: 200px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* top: 77px;
  position: absolute;
  right: 25%; */
}

/* d-flex align-items-center justify-content-center */
.loginForm{
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-top: 150px;
}

.f-password {
  font-size: x-small;
}

.button {
  background: #793EF5;
}